*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.next-header{
    width: 100%;
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.full-img{
    width: 100%;
}
.next-header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-logo{
    width: 160px;
}
.next-logo img{
    width: 100%;
}
.next-menu{
    width: 100%;
}
.next-menu ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 40px;
}
.next-menu ul li{
    list-style: none;
    display: inline-block;
}
.next-menu ul li a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2909EC;
    font-weight: 500;
    transition: 0.2s;
}

.next-menu ul li a:hover{
    color: black;
}
.next-header-left{
    display: flex;
    align-items: center;
    grid-gap: 40px;
}

a.next-head-btn{
    background: #4764B9;
    border-color: #4764B9;
    color: #fff;
    border-radius: 7px;
    text-transform: initial;
    letter-spacing: 0.2px;
    padding:8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    transition: 0.2s;
}
a.next-head-btn:hover{
    background: #2909EC;
 
}
.next-banner{
   width: 100%;
    padding: 200px 0 80px 0;
    position: relative;
    z-index: 1;
}
.next-banner::before{
    content: '';
    width: calc(100% - 80px);
    background: #fafaff;
    border-bottom-right-radius: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.next-banner-content{
    width: 100%;
}
.next-banner-content h1{
    line-height: 1.3em;
    margin-bottom: 50px;
    color: #221e41;
    font-size: 55px;
    font-weight:600;
}
.next-banner-content h5{
    font-size: 22px;
    color: #757384;
    opacity: 0.9;
    margin-bottom: 90px;
    max-width: 500px;
    width: 100%;
    line-height: 1.3em;
    font-weight: 400;
}
.next-btn{
    text-decoration: none !important;
    padding: 15px 15px;
    text-align: center;
    min-width: 250px;
    width: fit-content;
    background: #102973;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 600;
     border-radius: 10px;
     transition: 0.2s;
}
.next-btn:hover{
    background: #4764B9;
    color: white;
}
.next-social-holder{
    width: calc(100% - 0px);
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin-top: 80px;
    max-width: 1350px;
}
.next-social-holder span{
    display: block;
    width: 100%;
    background: #bdbdc4;
    height: 1px;
}
.next-social-holder ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    grid-gap: 30px;
}
.next-social-holder ul li{
    list-style: none;
}
.next-social-holder ul li a img{
width: 20px;
filter: brightness(0);
opacity: 0.7;
}
.next-projects-sec{
    width: 100%;
    padding: 80px 0;
}
.next-heading-snippet{
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 30px;

}
.next-heading-snippet h2{
    min-width: 315px;
    color: #221e41;
    font-size: 36px;
    font-weight: bold;
}
.next-heading-snippet h5{
    font-size: 18px;
    color: #757384;
    font-weight: 300;
}
.next-process-hero{
    width: 100%;
    padding: 10px 40px;
    z-index: 1;
    background: #fafaff;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 60px;
    
}
.next-process-hero h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.next-process-hero::before{
content: '';
width: 50%;
height: 100%;
position: absolute;
left: 0;
top: 0;
z-index: -1;
background: #4764B9;
clip-path: polygon(0 0, 100% 0%, 78% 100%, 0 100%);

}

.next-process-hero p{
    font-size: 22px;
    color: white;
    opacity: 0.9;
    margin-bottom: 90px;
    max-width: 500px;
    margin-top: 40px;
    width: calc(100% -40px);
    margin: 0 ;
    line-height: 1.3em;
    font-weight: 400;
}
.next-process-row{
    width: 100%;
    column-count: 2;
    column-gap: 30px;
    margin-top: 60px;
}
.next-proces-box{
    width: 100%;
    background-color: #f8faff;
    border-radius: 20px;
    padding-top: 40px;
    margin-bottom: 30px;
 
}
.next-proces-box h4{
    padding: 0 20px 0 40px;
    display: inline-block;
}
.next-proces-box p{
    display: inline-block;
    padding: 0 40px 0 20px;
    font-weight: bold;
    font-size: 20px;
}
.next-proces-box img{
    width: 100%;
    object-fit: contain;
    margin-top: 80px;
}
.next-process-row .next-proces-box:first-child{
    background: #fcb737;
    color: white;
}
.next-process-row .next-proces-box:nth-child(2){
    background:#ffac8a;
    color: white;
}
.next-process-row .next-proces-box:nth-child(3){
    background:#2ebbff;
    color: white;
}
