*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.cus-grid{
    display: grid;
}

/* grid colums */
.gc2{
    grid-template-columns: repeat(2, 1fr);
}
.gc3{
    grid-template-columns: repeat(3, 1fr);
}
.gc4{
    grid-template-columns: repeat(4, 1fr);
}
.gc5{
    grid-template-columns: repeat(5, 1fr);
}
.gc6{
    grid-template-columns: repeat(6, 1fr);
}
.gc7{
    grid-template-columns: repeat(7, 1fr);
}
.gc8{
    grid-template-columns: repeat(8, 1fr);
}
.gc9{
    grid-template-columns: repeat(9, 1fr);
}
.gc10{
    grid-template-columns: repeat(10, 1fr);
}

/* grid gap */

.gs1{
    grid-gap: 10px;
}
.gs2{
    grid-gap: 15px;
}
.gs3{
    grid-gap: 20px;
}
.gs4{
    grid-gap: 25px;
}
.gs5{
    grid-gap: 30px;
}
.gs6{
    grid-gap: 35px;
}
.gs7{
    grid-gap: 40px;
}
.gs9{
    grid-gap: 45px;
}
.gs10{
    grid-gap: 50px;
}





.next-header{
    width: 100%;
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.full-img{
    width: 100%;
}
.next-header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-logo{
    width: 160px;
}
.next-logo img{
    width: 100%;
}
.next-menu{
    width: 100%;
}
.next-menu ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 40px;
}
.next-menu ul li{
    list-style: none;
    display: inline-block;
}
.next-menu ul li a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2909EC;
    font-weight: 500;
    transition: 0.2s;
}

.next-menu ul li a:hover{
    color: black;
}
.next-header-left{
    display: flex;
    align-items: center;
    grid-gap: 40px;
}

a.next-head-btn{
    background: #4764B9;
    border-color: #4764B9;
    color: #fff;
    border-radius: 7px;
    text-transform: initial;
    letter-spacing: 0.2px;
    padding:8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    transition: 0.2s;
}
a.next-head-btn:hover{
    background: #2909EC;
 
}
.next-banner{
   width: 100%;
    padding: 200px 0 80px 0;
    position: relative;
    z-index: 1;
}
.next-banner::before{
    content: '';
    width: calc(100% - 80px);
    background: #fafaff;
    border-bottom-right-radius: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.next-banner-content{
    width: 100%;
}
.next-banner-content h1{
    line-height: 1.3em;
    margin-bottom: 50px;
    color: #221e41;
    font-size: 55px;
    font-weight:600;
}
.next-banner-content h5{
    font-size: 22px;
    color: #757384;
    opacity: 0.9;
    margin-bottom: 90px;
    max-width: 500px;
    width: 100%;
    line-height: 1.3em;
    font-weight: 400;
}
.next-btn{
    text-decoration: none !important;
    padding: 15px 15px;
    text-align: center;
    min-width: 250px;
    width: fit-content;
    background: #102973;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 600;
     border-radius: 10px;
     transition: 0.2s;
}
.next-btn:hover{
    background: #4764B9;
    color: white;
}
.next-btn.dark{
    background: #4764B9;
}
.next-social-holder{
    width: calc(100% - 0px);
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin-top: 80px;
    max-width: 1350px;
}
.next-social-holder span{
    display: block;
    width: 100%;
    background: #bdbdc4;
    height: 1px;
}
.next-social-holder ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    grid-gap: 30px;
}
.next-social-holder ul li{
    list-style: none;
}
.next-social-holder ul li a img{
width: 20px;
filter: brightness(0);
opacity: 0.7;
}
.next-projects-sec{
    width: 100%;
    padding: 80px 0;
}
.next-heading-snippet{
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 30px;

}
.next-heading-snippet h2{
    min-width: 315px;
    color: #221e41;
    font-size: 36px;
    font-weight: bold;
}
.next-heading-snippet h5{
    font-size: 18px;
    color: #757384;
    font-weight: 300;
}
.next-heading-snippet.color-white h2{
    color: white;
}
.next-heading-snippet.color-white h5{
    color: white;
}
.next-heading-snippet.color-white h1{
    color: white;
}
.next-heading-snippet.color-white h4{
    color: white;
}
.next-heading-snippet h4{
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 300;
}
.next-heading-snippet h1{
    font-size: 40px;
    line-height: 1.4em;
    font-weight:400;
}


.next-process-hero{
    width: 100%;
    padding: 10px 40px;
    z-index: 1;
    background: #fafaff;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 60px;
    
}
.next-process-hero h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.next-process-hero::before{
content: '';
width: 50%;
height: 100%;
position: absolute;
left: 0;
top: 0;
z-index: -1;
background: #4764B9;
clip-path: polygon(0 0, 100% 0%, 78% 100%, 0 100%);

}

.next-process-hero p{
    font-size: 22px;
    color: white;
    opacity: 0.9;
    margin-bottom: 90px;
    max-width: 500px;
    margin-top: 40px;
    width: calc(100% -40px);
    margin: 0 ;
    line-height: 1.3em;
    font-weight: 400;
}
.next-process-row{
    width: 100%;
    column-count: 2;
    column-gap: 30px;
    margin-top: 60px;
}
.next-proces-box{
    width: 100%;
    background-color: #f8faff;
    border-radius: 20px;
    padding-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;
 
}
.next-proces-box h4{
    padding: 0 20px 0 40px;
    display: inline-block;
}
.wow{
    visibility: hidden;
}
.next-proces-box p{
    display: inline-block;
    padding: 0 40px 0 20px;
    font-weight: bold;
    font-size: 20px;
}
.next-proces-box img{
    width: 100%;
    object-fit: cover;
    transition: 0.6s ease-out;
    margin-top: 20px;
}
.next-proces-box:hover img{
    transform: scale(1.05);
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition:transform .3 ease-in-out;
    -ms-transition:transform .3 5s ease-in-out;
}
.next-process-row .next-proces-box:first-child{
    background:#ea7330;
    color: white;
}
.next-process-row .next-proces-box:nth-child(2){
    background:#ffac8a;
    color: white;
}
.next-process-row .next-proces-box:nth-child(3){
    background:#3a9355;
    color: white;
}
.next-process-row .next-proces-box:nth-child(4){
    background:#4090e2;
    color: white;
}

.next-clients{
    width: 100%;
    padding: 80px 0 0 0;
    background: #f8faff;
    border-top-left-radius: 100px;
}
.logo-holder{
    width: 100%;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;

    justify-content: center;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
}
.client-logo-box{
    aspect-ratio: 1/1;
    width: calc(16% - 20px);
    border: 3px solid #4764B9;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.client-logo-box img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: 0.2s;
    height: 100%;

}
.client-logo-box:hover img{
    transform: scale(1.1);
}
.logo-holder .client-logo-box:nth-child(1){
    width: calc(20% - 20px);
}
.logo-holder .client-logo-box:nth-child(2){
    width: calc(20% - 20px);
}
.logo-holder .client-logo-box:nth-child(3){
    width: calc(20% - 20px);
}
.logo-holder .client-logo-box:nth-child(4){
    width: calc(20% - 20px);
}
.logo-holder .client-logo-box:nth-child(5){
    width: calc(20% - 20px);
}
.footer{
    width: 100%;
    padding: 80px 0 40px 0;
    position: relative;
    z-index: 1;
}
.footer::before{
position: absolute;
left: 0;
top: 0;
width: calc(100% - 80px);
height: 100%;
content: '';
background: #102973;
z-index: -1;
border-top-right-radius: 100px;
}
.justify-content-space-between{
    justify-content: space-between;
}
.foot-divider{
    width: calc(100% - 240px);
    height: 1px;
    background: #bdbdc4;
    margin: 80px 0;
}
.foot-bottom-holder{
    color: white;
}
.foot-bottom-holder img{
    filter: brightness(100);
    max-width: 120px;
    width: 100%;
}
.foot-bottom-holder ul{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
}
.foot-bottom-holder ul li{
    display: flex;
    grid-gap: 15px;
    font-size: 15px;
    width: 100%;
}
.foot-bottom-holder ul li p{
    margin: 0;
}
.foot-bottom-holder ul li span{
    font-weight: bold;
}
.foot-bottom-holder ul li a{
    color: white;
    text-decoration: none;
}
.foot-bottom-holder h4{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.next-copy-right{
    margin-top: 80px;
}

.inner-banner{
    width: 100%;
    padding: 180px 0 80px 0;
}
.team-section{
    width: 100%;
    padding: 0px 0 80px 0;
    position: relative;
    z-index: 1;
   
}
.steve{
    margin-top: 40px;
    color: white;
    font-weight: bold;
}
.team-section::before{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    height: calc(100% - 120px);
    background: #4764B9;
    border-bottom-left-radius: 100px;
}
.full-team-img{
    width: calc(100% - 120px);
    margin-bottom: 80px;
}
.full-team-img img{
    width:100%;
    max-height:400px;
    border-top-right-radius: 100px;
    object-fit: cover;
    object-position: center;
}
.next-people{
    width: 100%;
    padding: 80px 0;
}
.next-people-title{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.next-people-title h3{
    color: #221e41;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}
.next-people-title p{
    font-size: 18px;
    color: #757384;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}
.next-people-box-holder{
width: 100%;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 40px;
margin-top: 80px;    
}
.next-people-box{
    max-width: 200px;
    width: 100%;
    text-align: center;
}
.next-people-box img{
    width: 160px;
    max-width: 200px;
    height: 210px;
    border-radius: 40px;
    object-fit: cover;
    object-position:center ;
    margin-bottom: 10px;
}
.next-people-box h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom:0px;
    color: #102973;
}
